<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layouts/admin::common(~{::content},~{::css},~{::js})">
<css>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css"
          rel="stylesheet"/>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"/>

    <style>
        .filepond--drop-label {
            color: #4c4e53;
        }

        .filepond--label-action {
            text-decoration-color: #babdc0;
        }

        .filepond--panel-root {
            border-radius: 2em;
            background-color: #edf0f4;
            height: 1em;
        }

        .filepond--item-panel {
            background-color: #595e68;
        }

        .filepond--drip-blob {
            background-color: #7f8a9a;
        }
    </style>
</css>
<content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <form th:action="@{|/admin/post/${mode}|}" method="post" th:object="${post}">
                    <th:block th:if="${mode}=='update'">
                        <input th:field="*{id}" th:value="${post.id}" hidden="hidden">
                    </th:block>
                    <div class="form-group">
                        <label for="document">Category</label>
                        <select th:field="*{category}" class="form-control">
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Thumbnail</label>
                        <input type="text" th:field="*{avatar}" class="form-control" id="s"
                               aria-describedby="emailHelp">
                    </div>

                    <input type="file"
                           class="filepond"
                           name="filepond"
                           id="thumbnail"
                    >
                    <div class="form-group">
                        <label for="document">Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="document">Content</label>
                        <textarea th:field="*{document}" class="form-control" id="document" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <select class="form-control js-example-basic-multiple" th:field="*{tags}" multiple="multiple"
                                id="tags">
                            <option th:each="item:${tagList}" th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="${mode}"></button>
                </form>

                <style>
                    img {
                        display: block;

                        /* This rule is very important, please don't ignore this */
                        max-width: 100%;
                    }
                </style>
            </div>
        </div>
    </div>
</content>
<js>
    <script src="https://cdn.tiny.cloud/1/v9a3hkc5xsw542n1csexyl6eaveglb8el5zminkjlklbn3v4/tinymce/6/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#document',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        $(document).ready(() => {
            FilePond.registerPlugin(
                FilePondPluginImagePreview,
                FilePondPluginFileEncode,
            );
            const input = FilePond.create(
                document.querySelector('#thumbnail'), {
                    imageResizeTargetWidth: 200,
                },
            )
            var pond = document.querySelector('.filepond--root');
            pond.addEventListener('FilePond:addfile', function () {
                console.log(pond.querySelector('input[name="filepond"]'))
            })
            setTimeout(function () {
                console.log(pond.querySelector('input[name="filepond"]').value)
                const matchData = JSON.parse(pond.querySelector('input[name="filepond"]').value)
                console.log(matchData)
            }, 5000);

            pond.addEventListener('FilePond:processfile', function (event) {
                // Doesn't seem to fire at all?
                console.log(event);
            });
        })

    </script>
</js>