<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layouts/common::common(~{::content},~{::css},~{::js})">
<css>
    <style>

    </style>
</css>
<content>
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                <div th:each="post:${newestPost}" class="item">
                    <div class="bg-dark">
                        <img th:src="${post.avatar}" alt="" style="opacity: 0.2">
                    </div>
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span th:text="${post.getCategory().getName()}"></span>
                            </div>
                            <a th:href="@{|/post/${post.id}|}"><h4 th:text="${#strings.abbreviate(post.title,50)}"></h4>
                            </a>
                            <ul class="post-info">
                                <li><a href="#"><span th:text="${post.getAuthor().getName()}"></span></a></li>
                                <li><a href="#"><span th:text="${post.getUpdated()}"></span></a></li>
                                <li><a href="#"><span th:text="${post.comments.size()}"></span> Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div th:each="post:${trendingPost}" class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img th:src="${post.avatar}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span th:text="${post.category.getName()}"></span>
                                        <a th:href="@{|/post/${post.id}|}"><h4 th:text="${post.title}"></h4></a>
                                        <ul class="post-info">
                                            <li><a href="#" th:text="${post.getAuthor().getName()}"></a></li>
                                            <li><a href="#" th:text="${post.getUpdated().toString()}"></a></li>
                                            <li><a href="#">
                                                <th:block th:text="${post.comments.size()}"/>
                                                Comments</a></li>
                                        </ul>
                                        <p th:text="${post.description}"></p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li th:each="tag:${post.tags}"><a href="#">
                                                            <th:block th:text="${tag.getName()}"></th:block>
                                                        </a>,
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET" action="#">
                                        <input type="text" name="q" class="searchText" placeholder="type to search..."
                                               autocomplete="on">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li th:each="post:${recentPost}"><a th:href="@{|/post/${post.id}|}">
                                                <h5 th:text="${post.title}"></h5>
                                                <span th:text="${post.updated}"></span>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li th:each="category:${categories}"><a
                                                    th:href="@{|/category/${category.id}|}">
                                                - <span th:text="${category.getName()}"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tags</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li th:each="tag:${tags}"><a th:href="@{|/tag/${tag.id}|}">
                                                <span th:text="${tag.name}"></span>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</content>
<js>
    <script>

    </script>
</js>